.navbar {
    height: 90px;
    display: flex;
    widtH: 100%;
    background-color: white;
    justify-content: center;
    align-content: center;
}

.title {
    font-size: 18px;
    margin: auto; 
    color: #edf2ef;
    text-align: center; 
}